.overlay {
    top: 0;
}

.success-or-error-msg-modal {
    width: 640px;
    height: 490px;
    padding: 0 60px;
    margin-top: 0;
    top: 50vh;
    transform: translate(-50%, -50%);
}

#success-or-error-msg-modal-cancle {
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.success-or-error-msg-modal-details {
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    gap: 103px;
}

.success-or-error-msg-modal-details div {
    position: relative;
}

.success-or-error-msg-modal-tokens-amount {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 12px;

    justify-content: space-between;
    align-items: center;
}


.success-or-error-msg-modal-message {
    font-weight: 500;
    margin: 30px 0;
}

.success-or-error-msg-modal-btn {
    background-color: #7e77dd;
    margin: 0;
}

.success-or-error-msg-modal-btn:hover {
    box-shadow: 0 0 16px 0 #7e77dd, 0 0 16px 0 #7e77dd;
}

.success-or-error-msg-modal-btn:active {
    box-shadow: none;
    background-color: #565298;
}

.success-or-error-msg-modal-blockexplorer-link {
    text-decoration: none;
}

.success-or-error-msg-modal-blockexplorer-link p {
    margin: 12px 0;
}