.create-modal {
    width: 641px;
    height: 560px;
    padding: 60px 59px 80px 59px;
    margin-top: 0;
    top: 50vh;
    transform: translate(-50%, -50%);
}

#create-modal-cancle {
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.create-modal-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin-bottom: 53px;
}

#create-modal-logo {
    width: 80px;
}

.create-modal-details span {
    font-size: 30px;
    font-weight: 600;
    color: var(--purple);
}

.create-modal-action-tab {
    margin-bottom: 45px;
}

.create-modal-action-tab div {
    width: 50%;
}

.create-modal-action-tab span {
    display: block;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--purple);
}

.create-modal-action-tab .unactive {
    color: rgba(0, 0, 0, 0.1);
}

.create-modal-action-tab .line {
    width: 100%;
    height: 2px;
    border: solid 2px rgba(0, 0, 0, 0.1);
}

.create-modal-action-tab .active {
    border: 2px solid var(--purple);
}

.create-modal-inputs {
    gap: 20px;
    flex-wrap: wrap;
}

.create-modal-inputs span {
    color: var(--purple);
}

.create-modal-max-btn {
    padding: 4px 10px;
    position: relative;
    left: 3%;
    top: 1.5%;
    color: #7e77dd !important;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #7e77dd;
}

.create-modal-asset-dropdown {
    width: 200px;
    height: 55px;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin-top: 8px;
    border-radius: 4px;
    border: solid 1px #efefef;
    background-color: #fff;
}

.create-modal-asset-dropdown img {
    width: 30px;
}

.create-modal-amount-input input:focus {
    outline: none;
}

.create-modal-amount-input input {
    width: 303px;
    height: 55px;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #efefef;
    background-color: #fff;
    font-size: 16px;
    text-align: right;
    color: #262626;
}

.create-modal-amount-input input::placeholder {
    color: #797272;
    opacity: 0.3;
}

.create-modal-amount-input-balance {
    float: right;
    color: #b3b3b3 !important;
}

.create-modal-action-btn {
    margin-top: 65px;
    background-color: var(--green);
}
