:root {
  --toastify-text-color-light: #564dd0;
}

.App {
  width: 100vw;
  height: 160vh;
  background-image: linear-gradient(to bottom, #4368cd, #7455f6);
}

.title {
  margin-left: 55px;
  font-weight: 600;
  color: #fcfcfc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 35px 0px 0 55px;
}

.btn {
  width: 100%;
  height: 65px;
  margin: 20px 0px 20px 0;
  border: none;
  border-radius: 10px;
  background-color: #55d27c;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 16px 0 rgba(27, 183, 97, 0.6), 0 0 16px 0 rgba(27, 183, 97, 0.57);
}

.btn:active {
  box-shadow: none;
  background-color: #44a863;
}

@media only screen and (min-width: 1585px) {
  .App {
      height: 100vh;
  }
}