.portfolio-box {
    width: 345px;
    height: 443px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.portfolio-box-front {
    position: relative;
    padding: 45px 30px 25px 30px;
}

.portfolio-box-front-info-img {
    width: 16px !important; 
    align-self: flex-start;
}

.level1 {
    display: flex;
}

.level1 img {
    width: 50px;
    object-fit: contain;
}

.portfolio-details {
    margin-left: 20px;
    margin-right: 8px;
}

.portfolio-details-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #564dd0;
}

.portfolio-details-creator {
    text-align: left;
    margin: none;
    font-weight: 500;
    color: #7e77dd;
}

.portfolio-box-assets-img {
    width: 285px;
    height: 75px;
    margin: 25px 0px 25px 0;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 14px;
}

.portfolio-box-assets-img:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px 0 #7e77dd, 0 0 8px 0 #7e77dd;
}

.portfolio-box-assets-img:active {
    box-shadow: none;
    filter: brightness(0.7);
}

.portfolio-box-user-return span, .portfolio-box-user-balance span, .portfolio-box-user-amount span{
    font-size: 16px;
    color: #b3b3b3;
}

.portfolio-box-user-balance, .portfolio-box-user-return, .portfolio-box-user-amount {
    display: flex;
    justify-content: space-between;
}

.portfolio-box-user-balance, .portfolio-box-user-amount {
    margin-bottom: 20px;
}

.portfolio-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
}

.portfolio-data span {
    font-weight: 500;
}

.portfolio-data .left img {
    width: 31px;
    height: 20px;
    margin: 0 10px 0 0;
    object-fit: contain;
}

.portfolio-data .right img {
    width: 13px;
    height: 20px;
    margin: 0 10px 0 0;
    object-fit: contain;
}

/* backside  */

.portfolio-box-back {
    padding: 30px 25px 30px 26px;
}

#portfolio-box-back-cross {
    width: 14px;
    float: right;
    cursor: pointer;
}

.portfolio-box-back h2 {
    font-size: 21px;
    font-weight: 500;
    color: #564dd0;
    margin-top: 8px;
    margin-bottom: 10px;
}

.portfolio-box-back h3 {
    font-size: 18px;
    font-weight: 400;
    color: #666;
}

.portfolio-box-back-assets {
    height: 285px;
    margin-top: 30px;
    overflow-y: auto;
}
.portfolio-box-back-asset {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.portfolio-box-back-asset-icon {
    width: 35px;
    margin-right: 10px;
}

.portfolio-box-back-asset span {
    font-size: 16px;
    color: #262626;
}

.portfolio-box-back-asset-symbol {
    margin-left: 10px;
    color: #b3b3b3 !important;
}

.portfolio-box-back-asset-allocation {
    margin-right: 22px;
    margin-left: auto;
    font-weight: 500;
}